<h1><%= @peep.name %></h1>
<h4><%= @page.age %></h1>
<p><%= @page.hair_color %></p>
<p><%= @page.eye_color %></p>
<p><%= @page.gender %></p>
<p><%= @page.alive %></p>
<%= link_to 'Back', pages_path %>
